{% extends 'base.html' %}

{% block content %}
<div class='col-sm-12' style='text-align: center'>
    <h1>Just one more step. Please complete the following:</h1>
    <form method='POST' action=''> {% csrf_token %}
    {{form.as_p}}
    <input type='submit'  value='Submit' class='btn btn-success'>
    </form>
</div>
{% endblock %}

